<ion-content>

  <ion-grid fixed>

    <ion-row>
      <ion-col size="3"> <span class="title">Producto</span> </ion-col>
      <ion-col size="3"> <span class="title">Cantidad</span> </ion-col>
      <ion-col size="3"> <span class="title">Precio Unitario</span> </ion-col>
      <ion-col size="3"> <span class="title"> Precio Total </span>
        
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of carrito">
      <ion-col size="3" class="producto"> <span> {{item.nombre}} </span></ion-col>
      <ion-col size="3" class="producto"> <span> {{item.cantidad}} </span></ion-col>
      <ion-col size="3" class="producto"> <span> {{item.precio / item.cantidad |  number : '1.2'}} €</span></ion-col>
      <ion-col size="3" class="producto2"> <p> {{item.precio |  number : '1.2'}} €</p> <ion-button class="quitar" (click)="quitar(item.id)" fill="clear" >X</ion-button></ion-col>

    </ion-row>


    <ion-row >
      <ion-col size="12" class="totalprecio">Total del pedido : {{totalprecio |  number : '1.2'}} €</ion-col>

    </ion-row>

  </ion-grid>


  <ion-button class="comprar" (click)="realizarCompra()" expand="block" fill="clear" >
    Realizar pedido
  </ion-button>
  
</ion-content>
