
// auto generated //
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  // ----------------------------- //
  
  ion-content{
    --background: #ffefb3;
  }
  ion-item {
    --background: #ffefb3;
  }
  
  ion-grid {
    margin-top: 20px;

  }

  .title {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center;
  }

  .quitar {
  color:  rgb(236, 82, 82);
  transform:translateY(-5px) translateX(5px)
 
  }

  .totalprecio{
    font-size: 20px !important;
    font-weight: bold !important;
  }

  .producto {
    text-align: center ;
    height: 50px;
  }

  .producto2  {
    text-align: center ;
    transform: translateY(-13px);
  }

  .producto2 p {
    display: block;
    transform: translateY(-3px);
    float: left;
    width:70% !important;
    font-size: 16px;
    
  }
  .producto2 ion-button {
    float: left;
    display: block;
    width: 20%;
    transform: translateY(-6px) translateX(-5px);
  }

  .comprar {
    background-color: rgb(247, 120, 120);
    border: 1px solid black;
    color: black;
  }