<ion-content>

  <ion-button id="buttonback" (click)="back()" fill="clear" >
    <ion-icon name="caret-back-outline"></ion-icon>
    <p>Atrás</p>
  </ion-button>

  <div class="principal">

    <ion-item lines="none">
      <ion-label position="floating">Id Oferta</ion-label>
      <ion-input [(ngModel)]="idoferta"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombreoferta"></ion-input>
    </ion-item>


    <ion-item lines="none">
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="descoferta"></ion-textarea>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="precioferta"></ion-input>
    </ion-item>


  </div>

  <div class="buttons">

    <ion-item lines="none">
      <ion-button id="btn1" (click)="addOferta()" fill="clear" >
        Añadir
      </ion-button>
    </ion-item>

  </div>

</ion-content>
