<ion-content>

  <ion-button id="buttonback" (click)="back()" fill="clear" >
    <ion-icon name="caret-back-outline"></ion-icon>
    <p>Atrás</p>
  </ion-button>

  <div class="principal">

    <ion-item lines="none">
      <ion-label position="floating" color="{{namec}}">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating" color="{{apellidoc}}">Apellidos</ion-label>
      <ion-input [(ngModel)]="apellidos"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating" color="{{tlfc}}">Telefono</ion-label>
      <ion-input type="tel" [(ngModel)]="telefono" maxlength="9" ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating" color="{{tlfc}}">Localidad</ion-label>
      <ion-input type="text" [(ngModel)]="localidad" ></ion-input>
    </ion-item>
    
      <ion-item lines="none">
        <ion-label position="floating" color="{{tlfc}}">Calle</ion-label>
        <ion-input type="text" [(ngModel)]="calle" ></ion-input>
      </ion-item>

      

      <ion-item lines="none">
        <ion-label position="floating" color="{{tlfc}}">Numero</ion-label>
        <ion-input type="number" [(ngModel)]="numero" ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating" color="{{tlfc}}">Piso</ion-label>
        <ion-input type="number" [(ngModel)]="piso" ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating" color="{{tlfc}}">Puerta</ion-label>
        <ion-input type="number" [(ngModel)]="puerta" ></ion-input>
      </ion-item>

    

  </div>

  <div class="buttons">

    <ion-item lines="none">
      <ion-button id="btn1" (click)="doChanges()" fill="clear" >
        Aceptar
      </ion-button>
    </ion-item>

  </div>
</ion-content>
