<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)" value="no">
    <ion-segment-button value="no">
      <ion-label> Nuevos Pedidos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="si">
      <ion-label> Pedidos Completados </ion-label>
    </ion-segment-button>
  </ion-segment>

<ion-grid fixed> 

  <ion-row *ngFor="let pedido of pedidos">
      <ion-col size="12">

        <div class="pedido" (click)="verPedido(pedido.id)">
          <p class="nombre">{{ pedido.usuario.nombre }} {{ pedido.usuario.apellidos }}</p>
          <p class="correo">{{ pedido.dia }} - {{ pedido.hora }}</p>
          <p class="detalles">ver detalles</p>
        </div>

      </ion-col>
   </ion-row>

</ion-grid>

</ion-content>
