
// auto generated //
#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  // ----------------------------- //
  
  ion-content{
    --background: #ffefb3;
  }
  ion-item {
    --background: #ffefb3;
  }

  #buttonback{
    color: rgb(236, 82, 82);
  }
  

.pedido {
  border: 1px solid black;
  height: 100px;
  background-color: #f5d561;
}

.nombre {
  font-size: 20px;
  text-align: center;  
  margin-top: 20px !important;
}

.correo {
  font-size: 14px;
  text-align: center;  
  margin-top: 10px !important;
}

.direccion {
    font-size: 14px;
    text-align: center;  
    margin-top: 10px !important;
}

.detalles {
    text-align: right;
    font-size: 14px;
    transform: translateX(-4px) translateY(8px);
}

p{
  margin: 0px !important;
  
}

  