ion-tab-button {
    color: rgba(0, 0, 0, 0.87)
}

ion-tab-button ion-icon {
    color: lightgray
}

ion-tab-button[aria-selected=true] ion-icon {
    color: rgb(236, 82, 82) !important;
  }
  
  ion-tab-button[aria-selected=true] ion-label {
    color: rgb(236, 82, 82) !important;
  }