<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="!userType">

    <ion-tab-button tab="productos">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="descuentos">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="information-outline"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito">
      <ion-badge color="danger" >{{cantidades}}</ion-badge>
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


  <ion-tab-bar slot="bottom" *ngIf="userType">

    <ion-tab-button tab="pedidos">
      <ion-badge color="danger" >{{pedidos}}</ion-badge>
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productosadmin">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categoriasadmin">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ofertasadmin">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuariosadmin">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>