
// auto generated //
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  // ----------------------------- //

  #buttonback{
    color: rgb(236, 82, 82);
  }
  
  ion-input , ion-textarea{
    z-index: 3;
    background-color: rgb(245, 245, 245);
    border:1px solid black;
    transform: translateY(-4px);
    padding-left: 10px !important;
  }

  .principal {
    margin-right: 12px;
  }
  
  ion-label {
    z-index: 10;
    margin-left:30px ;
  }
  
  ion-content{
    --background: #ffefb3;
  }
  ion-item {
    --background: #ffefb3;
  }
  
  ion-grid {
    margin-top: 20px;

  }

  .title {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center;
  }

  .quitar {
  color:  rgb(236, 82, 82);
  transform: translateY(-37px) translateX(30px)

  }

  .totalprecio{
    font-size: 20px !important;
    font-weight: bold !important;
  }

  .producto {
    text-align: center ;
    height: 50px;
  }


  .comprar {
    background-color: rgb(247, 120, 120);
    border: 1px solid black;
    color: black;
    width: 102%;
  }

  ion-radio {
    border:1px solid black;
    width:30px;
    background-color: rgb(247, 120, 120) ;
    --color-checked: black;
  }

  span {
    font-weight: bold;
  }

  .principal p {
    border-bottom: 1px solid black;
    width: 105%;
  }

