<ion-content>

  <ion-button id="buttonback" (click)="back()" fill="clear" >
    <ion-icon name="caret-back-outline"></ion-icon>
    <p>Atrás</p>
  </ion-button>

  <div class="principal">
  
    <ion-item lines="none">
      <ion-label>Tu pedido estará listo sobe las <span>{{momento}}</span></ion-label>
    </ion-item>

    <p></p>

    <ion-list>
      <ion-radio-group name="envio" value="recoger" (ionChange)=radioGroupChange($event)>
        <ion-item lines="none">
          <ion-label>Recoger en local</ion-label>
          <ion-radio value="local"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Envio a domicilio</ion-label>
          <ion-radio value="domicilio"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <p [hidden]=!ishidden></p>

  <ion-item lines="none" [hidden]=ishidden>
    <ion-label position="floating" >Localidad</ion-label>
    <ion-input [(ngModel)]="localidad"></ion-input>
  </ion-item>

  <ion-item lines="none" [hidden]=ishidden>
    <ion-label position="floating" >Calle</ion-label>
    <ion-textarea [(ngModel)]="calle"></ion-textarea>
  </ion-item>

  <ion-item lines="none" [hidden]=ishidden>
    <ion-label position="floating" >Numero</ion-label>
    <ion-input [(ngModel)]="numero"></ion-input>
  </ion-item>

  <ion-item lines="none" [hidden]=ishidden>
    <ion-label position="floating" >Piso</ion-label>
    <ion-input [(ngModel)]="piso"></ion-input>
  </ion-item>

  <ion-item lines="none" [hidden]=ishidden>
    <ion-label position="floating" >Puerta</ion-label>
    <ion-input [(ngModel)]="puerta"></ion-input>
  </ion-item>

  <p [hidden]=ishidden></p>

  <ion-radio-group name="envio" (ionChange)=marcarPosponer($event)>
    <ion-item lines="none">
      <ion-label>Posponer pedido</ion-label>
      <ion-radio value="pos"></ion-radio>
    </ion-item>
    <ion-item lines="none">
      <ion-label>No posponer pedido</ion-label>
      <ion-radio value="nopos"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <p [hidden]=!ishidden2></p>

  <ion-item lines="none" [hidden]=ishidden2>

    <ion-label>Posponer para las :</ion-label>
    <ion-select multiple="false" (ionChange)=nuevahora($event)>
      <ion-select-option *ngFor="let time of horasel" value="{{time}}">{{time}}</ion-select-option>
    </ion-select>
  </ion-item>

  <p [hidden]=ishidden2></p>

  <ion-radio-group name="envio" (ionChange)=marcarpago($event)>
    <ion-item lines="none">
      <ion-label>Pagar en Efectivo</ion-label>
      <ion-radio value="efec"></ion-radio>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Pagar con tarjeta </ion-label>
      <ion-radio value="tarj"></ion-radio>
    </ion-item>
  </ion-radio-group>

<p></p>

  <ion-item lines="none" >
    <ion-label position="floating" >Observaciones</ion-label>
    <ion-textarea [(ngModel)]="observaciones"></ion-textarea>
  </ion-item>

  <ion-button class="comprar" (click)="realizarCompra()" expand="block" fill="clear" disabled="{{desabilitado}}" >
   Continuar
  </ion-button>




</div>
</ion-content>
