<ion-content>
<div class="databody">
  <ion-item lines="none">
    <ion-label class="datalabelname">Nombre</ion-label>
    <ion-label class="datalabel">{{userNombre}}</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="datalabelname">Apellidos</ion-label>
    <ion-label class="datalabel">{{userApellidos}}</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="datalabelname">Correo</ion-label>
    <ion-label class="datalabel">{{userCorreo}}</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="datalabelname">Localidad</ion-label>
    <ion-label class="datalabel">{{userLocalidad}}</ion-label>
  </ion-item>

  <ion-item lines="none" >
    <ion-label class="datalabelname">Dirección</ion-label>
    <ion-label text-wrap class="datalabel">{{userCalle}}</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="datalabelname">Telefono</ion-label>
    <ion-label class="datalabel">{{userTelefono}}</ion-label>
  </ion-item>
</div>



  <ion-item lines="none">
    <ion-button id="btn2" (click)="cambiarDatos()" fill="clear" >
      Modificar Datos
    </ion-button>
  </ion-item>

  <ion-item lines="none">
    <ion-button id="btn2" (click)="cerrarSesion()" fill="clear" >
      Cerrar Sesión
    </ion-button>
  </ion-item>

  <ion-item lines="none" class="accdel">
    <ion-button id="btn2" (click)="borrarCuenta()" fill="clear" >
      Eliminar Cuenta
    </ion-button>
  </ion-item>

</ion-content>
