
// auto generated //
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  // ----------------------------- //
  
  ion-content{
    --background: #ffefb3;
  }
  ion-item {
    --background: #ffefb3;
  }
  
   ion-button {
    border: 1px solid black;
    color: black;
    height: 35px;
    width: 100px;
    margin-left: 105px;
    background-color: rgb(247, 120, 120);
  }

  #btn2 {
    border: 1px solid black;
    color: black;
    height: 35px;
    width: 120px;
    margin-left: 95px;
    background-color: rgb(247, 120, 120);
  }

  .databody{
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .datalabel {
    margin-left: -90px !important;
  }

  .datalabelname {
    font-weight: bold;
  }

  .accdel{
    margin-top: 100px !important;
  }


