<ion-content>

  <ion-button id="buttonback" (click)="back()" fill="clear" >
    <ion-icon name="caret-back-outline"></ion-icon>
    <p>Atrás</p>
  </ion-button>

  <div *ngFor= "let pedido of pedidoData">

   <span>Nombre : </span> <p class="datos">{{pedido.usuario.nombre}} {{pedido.usuario.apellidos}}</p>
   <span>Direccion : </span> <p class="datos">{{pedido.localidad}} {{pedido.calle}}</p>
   <span>Condición : </span> <p class="datos">{{pedido.condicion}}</p>
   <p class="datos2">{{pedido.condicion2}} {{pedido.horanueva}}</p> 
   <p class="datos2">Pago: {{pedido.pago}}</p> 

   <span>Productos : </span>

   <div class="prods" *ngFor ="let prods of pedido.pedido">
     <p>{{prods.nombre}} - {{prods.cantidad}}</p>

   </div>

   <span>Observaciones : </span> <p class="datos">{{pedido.observaciones}}</p>

   <ion-button class="llamar" (click)="llamarCliente(pedido.usuario.telefono)" expand="block" fill="clear">
    Llamar Cliente
  </ion-button>


  <ion-button class="llamar" (click)="marcarRealizado(pedido)" expand="block" fill="clear" [hidden]="hiderealizado">
    Marcar como Realizado
  </ion-button>

  </div>


</ion-content>
