
// auto generated //
#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  // ----------------------------- //
  
  ion-content{
    --background: #ffefb3;
  }
  ion-item {
    --background: #ffefb3;
  }

  #buttonback{
    color: rgb(236, 82, 82);
  }
  
div {
  text-align: center;
}

.datos{
  margin-top: 4px !important;
  margin-bottom: 30px !important;
}

div span {
  font-weight: bold;
}

.prods  {
  transform: translateY(-10px);
}

.llamar {
  background-color: rgb(247, 120, 120);
  border: 1px solid black;
  color: black;
}

.datos2 {
  margin-top: -25px !important;
  margin-bottom: 30px !important;

}


  