
// auto generated //
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}


#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

// ----------------------------- //

ion-content{
  --background: #ffefb3;
}
ion-item {
  --background: #ffefb3;
}

#buttonback{
  color: rgb(236, 82, 82);
}



// --- Información del producto --- //
.producto {
margin-top: 10px;
}

.producto img {
border: 1px solid black;
}



.nombre {
text-align: center;
font-size: 20px;
}

.desc {
width: 160px;
transform: translateX(170px) translateY(-110px);
font-size: 12px;
margin-top: 10px;
}


.cantidades {
  margin-top: 60px;
  margin-left: 34%;
}

.cantidad {
  border: 1px solid black;
  color: black;
  height: 20px;
  width: 30px;
  background-color: rgb(247, 120, 120);
  transform: translateY(-5px);
  margin:8px;
}

.cantidad ion-label {
  transform: translateX(-2.5px);
}


.precio{
  text-align: right;
}

.alcarrito{
  border: 1px solid black;
  color: black;
  height: 35px;
  width: 100px;
  background-color:rgb(247, 120, 120);
  margin-left: 31%;
}

// ------------------------//