<ion-content>
  <ion-button id="buttonback" (click)="back()" fill="clear" >
    <ion-icon name="caret-back-outline"></ion-icon>
    <p>Atrás</p>
  </ion-button>


  <ion-row *ngFor="let item of prodData">
    <ion-col size="12">
        

      <div class="producto">

        <p class="nombre">{{item.nombre}}</p>
        <img src="{{item.imagen}}" alt="">
        
        <div class="precio">
          <span>Precio: </span><span>{{precio2}} € </span><span> </span>
        </div>
        
        <p class="descripcion">{{item.descripcion}}</p>
        

        <div class="cantidades">
          <ion-button class="cantidad" (click)="rest()" fill="clear" ><ion-label>-</ion-label></ion-button>
          <ion-label>{{cantidad}}</ion-label>
          <ion-button class="cantidad" (click)="sum()" fill="clear" ><ion-label>+</ion-label></ion-button>
        </div>

        <ion-item lines="none">
          <ion-button class="alcarrito" (click)="alCarrito()" fill="clear"> Añadir al Carrito </ion-button>
        </ion-item>

      </div>
      
    </ion-col>
 
    </ion-row>
</ion-content>

