
// auto generated //
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  // ----------------------------- //
  
  ion-content{
    --background: #ffefb3;
  }
  ion-item {
    --background: #ffefb3;
  }

  #buttonback{
    color: rgb(236, 82, 82);
  }
  

.producto {
  border: 1px solid black;
  height: 100px;
  background-color: #f5d561;
  margin-top: 10px;
}

.producto img {
  width: 150px;
  height: 98px;
  border-right: 1px solid black;

}

.producto ion-icon {
  transform: translateX(330px) translateY(-80px)
}

.nombre {
  transform: translateX(155px) translateY(-95px);
  font-size: 28px;
  width: 195px ;
  height: 0%;
  
}




  