<ion-content>
  <ion-button id="buttonback" (click)="back()" fill="clear" >
    <ion-icon name="caret-back-outline"></ion-icon>
    <p>Atrás</p>
  </ion-button>




  <ion-grid fixed> 

    <ion-row *ngFor="let item of productos">
        <ion-col size="12">

          <div class="producto" (click)="viewProduct(item.id)">
            <img src="{{item.imagen}}" alt="">
            <p class="nombre" text-wrap>{{item.nombre}}</p>
  
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>

        </ion-col>
     </ion-row>

     <ion-row>
       <ion-col size="12">




       </ion-col>
     </ion-row>

</ion-grid>


</ion-content>
