<ion-content>

  <ion-grid fixed *ngFor="let item of usuarios"> 

    <ion-row >
        <ion-col size="12">

          <div class="producto">

            <p class="nombre">{{item.nombre}} {{item.apellidos}} </p>
            <p class="correo">{{item.correo}}</p>

          </div>

        </ion-col>
     </ion-row>

     <ion-row>
       <ion-col size="12" >
         <div class="opciones">
          <p (click)="borraruser(item)">Borrar</p>
         </div>
       </ion-col>
     </ion-row>


</ion-grid>

</ion-content>

