<ion-content>

  <ion-grid fixed> 

    <ion-row *ngFor="let item of ofertasData">
        <ion-col size="12">

          <div class="producto">

            <p class="nombre">{{item.nombre}}</p>
            <p class="descripcion">{{item.descripcion}}</p>
            <p class="precio">{{item.precio}} € </p>

            <ion-button (click)="addDescuento(item)" fill="clear"> Añadir </ion-button>
          </div>

        </ion-col>
     </ion-row>

</ion-grid>

</ion-content>
