
// auto generated //
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

// ----------------------------- //

ion-content{
  --background: #ffefb3;
}
ion-item {
  --background: #ffefb3;
}

#buttonback{
  color: rgb(236, 82, 82);
}


.producto {
border: 1px solid black;
height: 160px;
background-color: #f5d561;
margin-top: 10px;

}

.nombre  {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.descripcion {
  margin-top: -15px;
  text-align: center;
}

.precio {
font-size: 25px;
  text-align: center;
transform: translateY(6px);
}


ion-button{
  color: black;
  border: 1px solid black;
  transform: translateX( 260px) translateY(-60px);
  background-color: rgb(247, 120, 120);

 
}

