<ion-content>

  <ion-grid fixed *ngFor="let item of categorias"> 

    <ion-row >
        <ion-col size="12">

          <div class="producto">

            <img src="{{item.imagen}}">
            <p class="nombre">{{item.nombre}} </p>
           
          </div>

        </ion-col>
     </ion-row>

     <ion-row>
       <ion-col size="12" >
         <div class="opciones">
          <p (click)="borrarcategoria(item)">Borrar</p>
          <p (click)="editarCategoria(item.id)">Editar</p>
         </div>
       </ion-col>
     </ion-row>


</ion-grid>

<ion-fab vertical="top" horizontal="end" slot="fixed" (click)="addnuevo()">
  <ion-fab-button class="addbtn">
    <ion-icon name="add"> </ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
