<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Horarios</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Encuentranos de <span>Martes</span> a <span>Domingo</span> de <span>11:00</span>AM a <span>15:00</span>PM
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedidos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <p>Todos los encargos / pedidos estarán disponibles <span>40</span> minutos después de la hora a la que se realice.</p>

     <br>

     <p>Si su pedido / encargo es realizado antes de las 11:00 AM la hora mínima de disponibilidad serán las 11:40 AM.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dirección</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>C/Jose Iturbi 10 </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Teléfono de contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>961290180</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Correo de contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>hnosfernandez@gmail.com</p>
    </ion-card-content>
  </ion-card>

  


</ion-content>
