
// auto generated //
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  // ----------------------------- //
  
  ion-content{
    --background: #ffefb3;
  }
  ion-item {
    --background: #ffefb3;
  }
  
  span {
    font-weight: bold;
    color: rgb(230, 7, 7);
  }

  ion-card{
    border: 1px solid black;
    background-color: #f5d561;
    color: black;
    text-align: center;
  }
  