<ion-content>

    <ion-grid fixed> 

        <ion-row *ngFor="let item of categories">
            <ion-col size="12">
                <ion-card (click)="gotoProducts(item.id)">
                    <img src="{{item.imagen}}" alt="">
                    <ion-label>{{item.nombre}}</ion-label>
                </ion-card>

            </ion-col>
         </ion-row>

    </ion-grid>

</ion-content>
