
// auto generated //
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  // ----------------------------- //
  
  ion-content{
    --background: #ffefb3;
  }
  ion-item {
    --background: #ffefb3;
  }

 
ion-card {
  border:1px solid black;
  text-align: center;
  color:black;
  font-size: 20px;
  background-color: #f5d561;
  margin-bottom: -4px;
}
  
  ion-card img {
    height: 200px;
    width: 100%;
    z-index: 5;
    margin-bottom: -4px;
    border-bottom: 1px solid black;
  }


  