
// auto generated //
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

// ----------------------------- //

ion-content{
  --background: #ffefb3;
}
ion-item {
  --background: #ffefb3;
}

ion-input {
  z-index: 3;
  background-color: rgb(245, 245, 245);
  border:1px solid black;
  transform: translateY(-4px);
}

ion-label {
  z-index: 10;
  margin-left:30px ;
}

.principal {
  margin-top: 40px;
  margin-right: 12px;
}

.imglogo{
    margin-top: 100px;
    margin-left: 6%;
    margin-bottom: 30px;
    width: 300px;
    height: auto;
  
}

.buttons ion-button {
  border: 1px solid black;
  color: black;
  height: 35px;
  width: 100px;
  margin-left: 105px;
  background-color:rgb(247, 120, 120);
}

#btn1 {
  margin-top: 28px;
}

#credits{
  font-size: 10px;
transform: translate(200px,200px);

}

