<ion-content [fullscreen]="true" class="ion-padding">


  <div class="principal">

    <ion-thumbnail class="imglogo">
      <ion-img class="img" src="../../assets/LogoFF2.png"> </ion-img>
  </ion-thumbnail>


    <ion-item lines="none">
      <ion-label position="floating" color="{{correoc}}">Correo</ion-label>
      <ion-input [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating" color="{{passc}}">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="passw"></ion-input>
    </ion-item>

  </div>

  <div class="buttons">

    <ion-item lines="none">
      <ion-button id="btn1" (click)="register()" fill="clear" >
        Registrarse
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-button id="btn2" (click)="login()" fill="clear" >
        Iniciar Sesión
      </ion-button>
    </ion-item>

  </div>


  <div id="credits">
    <p>Made by David Ventoso</p>
  </div>


</ion-content>
