<ion-content [fullscreen]="true" class="ion-padding">

  <ion-button id="buttonback" (click)="back()" fill="clear" >
    <ion-icon name="caret-back-outline"></ion-icon>
    <p>Atrás</p>
  </ion-button>

  <div class="principal">

    <ion-item lines="none">
      <ion-label position="floating" color="{{namec}}">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating" color="{{apellidoc}}">Apellidos</ion-label>
      <ion-input [(ngModel)]="apellidos"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating" color="{{mailc}}">Correo</ion-label>
      <ion-input type="mail" [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating" color="{{tlfc}}">Telefono</ion-label>
      <ion-input type="tel" [(ngModel)]="telefono" maxlength="9" ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating" color="{{passc}}">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="passw"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating" color="{{passc}}">Repetir Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="passwrepeat"></ion-input>
    </ion-item>

  </div>

  <div class="buttons">

    <ion-item lines="none">
      <ion-button id="btn1" (click)="doReg()" fill="clear" >
        Registrarse
      </ion-button>
    </ion-item>

  </div>

</ion-content>
