
// auto generated //
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  // ----------------------------- //
  
  ion-content{
    --background: #ffefb3;
  }
  ion-item {
    --background: #ffefb3;
  }

  #buttonback{
    color: rgb(236, 82, 82);
  }
  

.producto {
  border: 1px solid black;
  height: 100px;
  background-color: #f5d561;
  margin-bottom: -72px;
  margin-top: 10px;
}

.producto img {
  width: 150px;
  height: 98px;
  border-right: 1px solid black;

}

.nombre {
  transform: translateX(155px) translateY(-95px);
  font-size: 28px;
  width: 195px;
  height: 55px;

}

.opciones p {
padding-left: 4px;
padding-right: 4px;
 display: block;
 float: left;
 margin-right: 75px;
}

.opciones {
    transform: translateY(24px) translateX(163px);
}


.addbtn {
  --background: rgb(247, 120, 120);
  --background-activated:rgb(236, 82, 82);
}



ion-input , ion-textarea {
    z-index: 3;
    background-color: rgb(245, 245, 245);
    border:1px solid black;
    transform: translateY(-4px);
    padding-left: 10px !important;
  }

  .catg{
    transform: translateX(20px);
    border:1px solid black;
    width: 91.5%;
    margin-top: 20px;
    --background: rgb(245, 245, 245)
  }

  .catg ion-label {
      transform: translateX(-22px);
  }


  
  ion-label {
    z-index: 10;
    margin-left:30px ;
  }
  
  .principal {
    margin-top: 75px;
    margin-right: 12px;
  }
  
  .buttons ion-button {
    border: 1px solid black;
    color: black;
    height: 35px;
    width: 100px;
    margin-left: 105px;
  }

  .subirimagen ion-button{
    margin-top: 30px;
    border: 1px solid black;
    background-color:rgb(247, 120, 120);
    color: black;
    width: 100%;
    height: 55px;
}
    
  #btn1 {
    margin-top: 40px;
    background-color:rgb(247, 120, 120);
  }