<ion-content>

  <ion-button id="buttonback" (click)="back()" fill="clear" >
    <ion-icon name="caret-back-outline"></ion-icon>
    <p>Atrás</p>
  </ion-button>

  <div class="principal">

    <ion-item lines="none">
      <ion-label position="floating"> Id Producto </ion-label>
      <ion-input [(ngModel)]="idnuevo"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombrenuevo"></ion-input>
    </ion-item>

    <ion-item lines="none" class="catg">
      <ion-label>Categoría</ion-label>
      <ion-select multiple="false" (ionChange)=selectChange($event)>
        <ion-select-option *ngFor="let item of categorias" value="{{item.id}}">{{item.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="precionuevo"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea [(ngModel)]="descnuevo"></ion-textarea>
    </ion-item>

    <ion-item lines="none" class="subirimagen">
      <ion-button fill="clear" (click)="subirImagen();">Seleccionar Imagen</ion-button>
    </ion-item>




  </div>

  <div class="buttons">

    <ion-item lines="none">
      <ion-button id="btn1" (click)="addNuevo()" fill="clear" >
        Añadir
      </ion-button>
    </ion-item>

  </div>

</ion-content>
